@import url("../../assets//Colors.css");


.LandingComp .FirstSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 5rem;
}

.LandingComp .FirstSection .LeftContainer{
    width: 50%;
}

.LandingComp .FirstSection .LeftContainer h1{
    color: var(--textColor);
    font-size: 4rem;
}

.LandingComp .FirstSection .LeftContainer p{
    color: var(--textColor);
    width: 80%;
    font-size: 1.2rem;
}

.LandingComp .FirstSection .LeftContainer button{
    padding: 12px 2rem;
    border: none;
    border-radius: 4px;
    color: white;
    background: var(--accentColor);
    outline: none;
}

.LandingComp .FirstSection .LeftContainer button:hover{
    box-shadow: 0 5px 8px rgba(63, 210, 199, .3);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.LandingComp .FirstSection .RightContainer img{
    width: 500px;
}

@media only screen and (max-width: 450px) {
    .LandingComp .FirstSection{
        display: flex;
        flex-flow: column-reverse;
        padding: 5rem 0;
        text-align: left;
        padding-bottom: 0;
    }
    
    .LandingComp .FirstSection .RightContainer img{
        width: 300px;
    }
    .LandingComp .FirstSection .LeftContainer{
        width: 90%;
    }
    .LandingComp .FirstSection .LeftContainer p{
        color: var(--textColor);
        width: 100%;
        font-size: 1rem;
    }
    .LandingComp .FirstSection .LeftContainer h1{
        color: var(--textColor);
        font-size: 2rem;
    }
}