.AllBlogs{
    display: flex;
    margin-bottom: 1rem;
    padding: 8px;
    padding-bottom: 1rem;
}

.AllBlogs img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.AllBlogs .Context{
    margin-left: 1rem;
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.AllBlogs .EndBox{
    display: flex;
    margin-top: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.AllBlogs .EndBox .EndBoxMobile{
    display: none;
}

.AllBlogs .EndBox .OptionBox{
    display: flex;
    align-items: center;
}

.AllBlogs .Context h3{
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--textColor);
}

.AllBlogs .Context p{
    font-size: 1rem;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: var(--paraColor);
    margin-top: 8px;
}

.AllBlogs .Context .EndBox p{
    font-size: .8rem;
    color: var(--optionColor);
    margin-top: 0;
    font-weight: 400;
}

.AllBlogs .Context .EndBox span{
    color: var(--themeColorDark);
    font-weight: 500;
    cursor: pointer;
}

.AllBlogsList{

}

@media only screen and (max-width: 450px){
    .AllBlogs img{
        height: 75px;
        width: 75px;
        object-fit: cover;
    }    
    .AllBlogs .Context p{
        -webkit-line-clamp: 2;
        margin-top: 0;
    }
    .AllBlogs .Context h3{
        font-size: 1rem;
    }
    .AllBlogs .EndBox .EndBoxDesktop{
        display: none;
    }
    .AllBlogs .EndBox .EndBoxMobile{
        display: block;
    }
}