@import url("../../../assets//Colors.css");

.PageNav{
    width: 100%;
}

.PageNav .NavContext{
    display: flex;
    padding: 8px 8rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); */
}
.PageNav .ItemsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.PageNav .ItemsContainerMobile{
    display: none;
}

.PageNav .ItemsContainer .NotiIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: white;
    border-radius: 8rem;
    padding: 8px;
}

.PageNav .ItemsContainer .Profile{
    width: 30px;
    height: 30px;
    margin: 0 12px;
    cursor: pointer;
    background-color: white;
    color: var(--paraColor);
}

.PageNav .ItemsContainer .SearchBox{
    padding: 6px 1rem;
    border: 1px solid #eee;
    background: transparent;
    color: white;
    outline: none;
    font-size: 1rem;
    border-radius: 8rem;
}

.PageNav .ItemsContainer .SearchIcon{
    padding: 5px;
    border-radius: 8rem;
    background: white;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.PageNav .dropbtn{
    display: none;
}

.PageNav img{
    width: 100px;
    height: auto;
    object-fit: contain;
    margin: 0;
    cursor: pointer;
}


.PageNav .TopicsNavList{
    display: flex;
    justify-content: space-evenly;
    background: white;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 450px){
    .PageNav .NavContext{
        padding: 8px 0;
    }
    .PageNav img{
        width: 75px;
        height: auto;
        object-fit: contain;
        margin: 0 1rem;
    }

    .PageNav  .ItemsContainer .SearchBox{
        display: none;
    }

    .PageNav .ItemsContainer .SearchIcon{
        margin: 0;
        margin-right: 1rem;
    }
    .PageNav .ItemsContainer .Profile{
        margin-right: 1rem;
        margin-left: 0;
    }
    .PageNav .ItemsContainer .NotiIcon{
        margin: 0;
        margin-right: 1rem;
    }
}
