@import url("../../../assets//Colors.css");

.HomeNav{
    background: white;
    width: 100%;
    box-shadow: 0 5px 8px rgba(0,0,0,.05);
}

.HomeNav .NavContext{
    display: flex;
    padding: 8px 8rem;
    align-items: center;
    justify-content: space-between;
}
.HomeNav .ItemsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeNav .ItemsContainer .NotiIcon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.HomeNav .ItemsContainer .Profile{
    width: 30px;
    height: 30px;
    margin: 0 12px;
    cursor: pointer;
}

.HomeNav .ItemsContainer .SearchBox{
    padding: 6px 1rem;
    border: 1px solid #eee;
    outline: none;
    font-size: 1rem;
    border-radius: 8rem;
}

.HomeNav .ItemsContainer .SearchIcon{
    padding: 5px;
    border-radius: 8rem;
    font-size: 2rem;
    background: #eee;
    margin: 0 4px;
    cursor: pointer;
}

.HomeNav .dropbtn{
    display: none;
}

.HomeNav img{
    width: 100px;
    height: auto;
    object-fit: contain;
    margin: 0;
}


.HomeNav .TopicsNavList{
    display: flex;
    justify-content: space-evenly;
    background: white;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 450px){
    .HomeNav .NavContext{
        padding: 8px 0;
    }
    .HomeNav img{
        width: 75px;
        height: auto;
        object-fit: contain;
        margin: 0 1rem;
    }
    .HomeNav .ItemsContainer{
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 500;
    }
    .HomeNav .dropbtn{
        display: inline-block;
        margin: 0 1rem;
        cursor: pointer;
    }
    .show {display:block;}
}