@import url('../../../assets//Colors.css');

.AccountBottomSection{
    width: 60%;
    margin: 0 auto;
    position: sticky;
    top: 1rem;
}

.AccountBottomSection .Options{
    display: flex;
    align-items: center;
    justify-content: left;
}

.AccountBottomSection .Options button{
    margin: 0;
    color: var(--paraColor);
    padding: 8px 1rem;
    border: 1px solid transparent;
    border-width: 0 0 1px 0;
    outline: none;
    background: white;
    cursor: pointer;
}

.AccountBottomSection .Options .active{
    border: 1px solid #000;
    border-width: 0 0 1px 0;
    color: var(--textColor);
}

.AccountBottomSection hr{
    margin: 0;
}

.AccountBottomSection .Blogs{
    margin-top: 1rem;
    padding-left: 8px;
}

@media only screen and (max-width: 450px){
    .AccountBottomSection{
        width: 90%
    }
}