.TopicsNavList{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);  
    z-index: 100;
    padding: 0 5%;
}

.TopicItem p{
    margin: 8px 0;
    padding: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.TopicItem:hover{
    cursor: pointer;
    background: #ddd;
}

.TopicsNavList .AllTopics{
    overflow-y: scroll;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 8px;
    overflow-x: scroll;
}

.TopicsNavList img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.TopicsNavList .AllTopics::-webkit-scrollbar{
    display: none;
}
.TopicsNavList .AllTopics{
    -ms-overflow-style: none;
}

@media only screen and (max-width: 450px){
    .TopicsNavList{
        padding: 8px 1rem;
    }
}
